.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(62, 56, 56, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../img/modalFoto.jpg");
  z-index: 2;
  .modalForm {
    background-color: rgb(99, 84, 84);
    width: 300px;
    margin: 70px calc(50% - 150px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    color: rgb(240, 230, 230);
    border-radius: 15px;
    border: 2px solid rgb(224, 218, 218);
    box-shadow: 20px 20px 5px rgb(62, 47, 47);
    .editTitle {
      font-size: 40px;
    }
    .input {
      background-color: rgb(216, 208, 208);
      color: rgb(80, 79, 79);
      padding: 5px;
      border-radius: 5px;
      font-size: 17px;
      color: rgb(80, 72, 72);
    }
  }
  // .button {
  //   padding: 20px;
  //   color: white;
  // }
}
