.app {
  text-align: center;
  width: 100vw;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../src/img/photocased58d4pvs2.jpg);
  background-size: cover;
  background-position: top;
  .title {
    font-size: 63px;
  }
  .todayDate {
    font-size: 33px;
    border: 1px solid rgb(84, 75, 75);
    border-radius: 5px;
    background-color: rgb(137, 127, 127);
    color: rgb(234, 230, 230);
  }
}
@media (max-width: 750px) {
  .title {
    font-size: 33px;
  }
  .todayDate {
    font-size: 23px;
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 33px;
  }
  .todayDate {
    font-size: 23px;
  }
}
